:root{
    --moradoOscuro: #08001C;
    --moradoClarito: #3E3456;
    --fondoContainer: linear-gradient(100deg, var(--moradoOscuro) 0%, var(--moradoClarito) 95%);
    --bordesColor: linear-gradient(152deg, rgba(255,0,61,1) 0%, rgba(106,0,212,1) 80%);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: #08001C;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: white;
}
h1{
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 24px;
    text-align: center;
    color: white;
}
.shadowBox{
    -webkit-box-shadow: 0px 0px 47px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 47px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 47px 25px rgba(0,0,0,0.5);
}



/* Header */
header{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-sizing: border-box;
}

header .headerIconsContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    box-sizing: border-box;

}
header .headerIconsContainer .icons{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin: 0 20px 0 0;
}
header .icons span {
    color: white;
    justify-self: end;
}
header .icons a{
    width: 30px;
    height: 30px;
}
header .icons img {
    width: 30px;
    height: 30px;
    justify-self: end;
    -webkit-filter: invert(1) hue-rotate(180deg) contrast(2);
	filter: invert(1) hue-rotate(180deg) contrast(2); 
}




/* Navbar */
nav{
    padding: 10px 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
nav .navLogoContainer{
    margin-left: 50px;
}
nav .navLogoContainer a img{
    height: 90px;
    object-fit: cover;
}

nav .profileLink {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 50px 0 0;

}
nav .profileLink a{
    color: black;
    border-bottom: 1px solid white;
    padding: 0 0 2px 0;
    color: white;
}




/* ULTIMO POST */
.latestPost{
    width: 100%;
    height: calc(-150px + 100vh);
    background: var(--moradoOscuro);
    background: var(--fondoContainer);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}
.latestPostInfo{
    width: 75%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.latestPostImgContainer{
    width: 65%;
    height: 425px;
    overflow: hidden;
    display: grid;
    place-content: center;
}
.latestPostImgContainer img{
    height: 450px;
    object-fit: cover;
    object-position: center;
    transition: .75s ease;
}
.latestPostImgContainer img:hover{
    height: 450px;
}


.latestPostTextAndButton{
    width: 35%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.latestPostText{
    width: 100%;
    height: 400px;
    color: white;
    box-sizing: border-box;
    padding: 30px 10px 10px 30px;
}
.latestPostText p{
    width: 90%;
    padding-left: 5px;
}
.latestPostText p:nth-child(1){
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
.latestPostTextAndButton a{
    display: grid;
    place-content: center;

    height: 50px;
    border-top: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;

    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}
.latestPostTextAndButton a:hover{
    border-top: 1px solid white;
    background-color: white;
    color: black;
}




/* Blogs */
.allBlogsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--fondoContainer);
    padding-bottom: 30px;
}
.blogsGrid{
    width: 85%;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 20px;
}
.blogCard{
    width: 100%;
    height: 500px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: hidden;
    border-radius: 10px;

    box-shadow: 10px 10px 30px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 30px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -7px rgba(0,0,0,0.75);
}
.blogCard img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    transition: .75s ease;
}
.blogCard img:hover{
    width: 120%;
}
.postTitle{
    font-size: 18px;
    font-weight: bold;

    width: 90%;
    margin: 5px 0 5px 0;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 1px solid white;
}
.postInfoDetails{
    width: 90%;
    padding: 0 5px 0 5px;
    text-align: justify;
}
.blogCard button{
    margin-top: 20px;
    width: 50%;
    height: 40px;

    border-width: 1px;
    border-style: solid;
    border-image: var(--bordesColor);
    border-image-slice: 1;

    background: transparent;
    color: white;
    cursor: pointer;
    transition: .75s ease;
}
.blogCard button a{
    color: white;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}



/* FOOTER */
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(14, 2, 26); 
    box-sizing: border-box;
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.footerIcons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerIcons a{
    color: white;
}
.footerInfo{
    margin-left: 50px;
    color: white;
    width: 80%;
}
.footerInfo h2{
    color: white;
    width: 100%;
    padding: 0 0 10px 5px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid white; 
    font-weight: bold;
}
.footerInfo h2 a{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.footerInfo p{
    padding: 0 5px 0 5px;
}




@media(max-width:910px){
    .latestPostInfo{
        width: 90%;
        display: flex;
        flex-direction: column;
        
        background-image: url(https://th.bing.com/th/id/OIP.EoxlNxDhP87FgN7XUpR-ZQHaEo?pid=ImgDet&rs=1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .latestPostImgContainer{
        display: none;
    }
    .latestPostTextAndButton{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .latestPostText{
        width: 100%;
    }



    .blogsGrid{
        width: 80%;
        grid-template-columns: 1fr;
    }
}

@media(max-width:500px) {

    /* Latest Post */
    .latestPostInfo{
        width: 100%;
    }
    .latestPost{
        padding: 30px 10px 30px 10px;
    }
}